<div class="row">
    <div class="col-xs-12">
        <alert>
            <p>Location: {{location.$$path}}</p>
            <p>Params: {{route}}</p>
        </alert>
    </div>
</div>


<ol class="breadcrumb">
    <li><a href="#/">Home</a></li>
    <li ng-repeat="path in paths">
        <a href="#{{path.path}}">{{path.name}}</a>
    </li>
</ol>

<div class="row" ng-controller="vgwidgetController">
    <div class="col-md-3 col-lg-2">
        <vgwidget type="onion"></vgwidget>
    </div>
    <div class="col-md-5 col-lg-6">
        <vgwidget type="activityagg"></vgwidget>
    </div>
    <div class="col-md-4 col-lg-4">
        <vgwidget type="activityts"></vgwidget>
    </div>
</div>