<div class="row">
    <div class="col-xs-12">
        <alert>
            <p>Location: {{location.$$path}}</p>
            <p>Params: {{route}}</p>
        </alert>
    </div>
</div>


<ol class="breadcrumb">
    <li><a href="#/">Home</a></li>
    <li ng-repeat="path in paths">
        <a href="#{{path.path}}">{{path.name}}</a>
    </li>
</ol>


<div class="row">
    <div class="col-md-6" ng-controller="vgwidgetController">
        <vgwidget widget-type="activityagg" widget-datasource="{{route.datasource}}"></vgwidget>
    </div>
    <div class="col-md-6" ng-controller="vgwidgetController">
        <vgwidget widget-type="activityts" widget-datasource="{{route.datasource}}"></vgwidget>
    </div>
</div>