<div class="row">
    <div class="col-md-3 col-lg-2">
               <!-- onion analysis -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-9">
                              Code developers  
                            </div>
                            <div class="col-xs-3">
                                <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom"></i>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body" style="text-align:center; ">
                        <div class="row">
                            <div class="col-xs-12"><strong style="font-size: 1.2em"><a href="#">#.### contributors</a></strong></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">Core <br/> <a href="#" data-toggle="modal" data-target="#contributorsCategories">###</a></div>
                            <div class="col-xs-4">Regular <br/> <a href="#" data-toggle="modal" data-target="#contributorsCategories">###</a></div>
                            <div class="col-xs-4">Casual <br/> <a href="#" data-toggle="modal" data-target="#contributorsCategories">###</a></div>
                        </div>
                    </div>
                </div>
                
                <!-- activity aggregated numbers -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-9">
                                Contribution
                            </div>
                            <div class="col-xs-3">
                                <i class="fa fa-info-circle"></i>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <table class="table table-condensed" style="font-size: 0.9em;">
                            <thead class="hidden">
                                <tr>
                                    <th>Activity name</th>
                                    <th>Contribution</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Commits</td>
                                    <td>##.###</td>
                                </tr>
                                <tr>
                                    <td><abbr title="lines of code">LoC</abbr></td>
                                    <td>##.###</td>
                                </tr>
                                <tr>
                                    <td>Files</td>
                                    <td>##.###</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
    <div class="col-md-5 col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-9">Coding activity and people</div>
                            <div class="col-xs-3"><i class="fa fa-info-circle"></i></div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <img src="holder.js/100%x320">
                    </div>
                </div>
            </div>
    <div class="col-md-4 col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-9">Top active</div>
                            <div class="col-xs-3"><i class="fa fa-info-circle"></i></div>
                        </div>
                    </div>
                    <div class="panel-body">
                       <ul class="nav nav-tabs" role="tablist">
                         <li role="presentation" class="active">
                             <a href="#repos" aria-controls="repos" role="tab" data-toggle="tab">Repositories</a>
                         </li>
                         <li role="presentation">
                             <a href="#people" aria-controls="people" role="tab" data-toggle="tab">People</a>
                         </li>
                         <li role="presentation">
                             <a href="#domains" aria-controls="domains" role="tab" data-toggle="tab">Domains</a>
                         </li>
                       </ul>
                       <div class="tab-content">
                         <div role="tabpanel" class="tab-pane active" id="repos">
                             <table class="table table-condensed" style="font-size: 0.9em;">
                                <thead class="hidden">
                                    <tr>
                                        <th>Repository</th>
                                        <th>Activity</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Name</td>
                                        <td>#.### commits</td>
                                    </tr>
                                    <tr>
                                        <td>Name</td>
                                        <td>#.### commits</td>
                                    </tr>
                                    <tr>
                                        <td>Name</td>
                                        <td>#.### commits</td>
                                    </tr>
                                </tbody>
                            </table>
                            <p><small><a href="#">More about code repositories ...</a></small></p>
                         </div>
                         <div role="tabpanel" class="tab-pane" id="people">
                             <table class="table table-condensed" style="font-size: 0.9em;">
                                <thead class="hidden">
                                    <tr>
                                        <th>Contributor</th>
                                        <th>Activity</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Name</td>
                                        <td>#.### commits</td>
                                    </tr>
                                    <tr>
                                        <td>Name</td>
                                        <td>#.### commits</td>
                                    </tr>
                                    <tr>
                                        <td>Name</td>
                                        <td>#.### commits</td>
                                    </tr>
                                </tbody>
                            </table>
                            <p><small><a href="#">More about code contributors ...</a></small></p>
                         </div>
                         <div role="tabpanel" class="tab-pane" id="domains">
                             <table class="table table-condensed" style="font-size: 0.9em;">
                                <thead class="hidden">
                                    <tr>
                                        <th>Domain</th>
                                        <th>Activity</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Name</td>
                                        <td>#.### commits</td>
                                    </tr>
                                    <tr>
                                        <td>Name</td>
                                        <td>#.### commits</td>
                                    </tr>
                                    <tr>
                                        <td>Name</td>
                                        <td>#.### commits</td>
                                    </tr>
                                </tbody>
                            </table>
                            <p><small><a href="#">More about code by domains ...</a></small></p>
                         </div>
                        </div>
                    </div>
                </div>
            
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-9">Timezones</div>
                            <div class="col-xs-3"><i class="fa fa-info-circle"></i></div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <img src="holder.js/100%x120">
                    </div>
                </div>
            </div>
</div>