<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-8">
                {{vgwidget.title}}
            </div>
            <div class="col-xs-4">
                <div class="btn-toolbar pull-right" role="toolbar">
                    <div class="btn-group btn-group-xs">
                        <i class="fa fa-info-circle" tooltip-placement="bottom" tooltip="{{vgwidget.help}}"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="text-center"><i class="fa fa-spinner fa-pulse fa-3x"></i></div>
    </div>
</div>