<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-8">
                {{widget.title}}
            </div>
            <div class="col-xs-4">
                <div class="btn-toolbar pull-right" role="toolbar">
                    <div class="btn-group btn-group-xs">
                        <i class="fa fa-info-circle" tooltip-placement="bottom" tooltip="{{widget.help}}"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body" ng-controller="vgwdigetBodyController">
        <div class="{{widget.type}}">
            <div class="text-center"><i class="fa fa-spinner fa-pulse fa-3x"></i></div>
        </div>
        <!--
        <c3chart bindto-id="{{widget.title}}">
            <chart-column column-id="data1"
                    column-values="30,200,100,400,150,250"
                    column-type="bar"/>
            <chart-column column-id="data2"
                    column-values="300,5000,1500,700,250,2050"
                    column-type="bar"/>
        </c3chart>
        -->
    </div>
</div>