<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-8">
                {{widget.title}}
            </div>
            <div class="col-xs-4">
                <div class="btn-toolbar pull-right" role="toolbar">
                    <div class="btn-group btn-group-xs">
                        <i class="fa fa-info-circle" tooltip-placement="bottom" tooltip="{{widget.help}}"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <widget-body ng-cloak type="{{widget.type}}"><div class="text-center"><i class="fa fa-spinner fa-pulse fa-3x"></i></div></widget-body>
    </div>
</div>