/*.panel-body {
    height: 240px;
}*/
body {
	padding-top: 70px;
}
.navbar-toggle {
	display: block;
	float: left;
	margin-left: .5em;
}
.chart {
    height: 100%;
}

.panel-body table{
    font-size: 0.9em;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.modal-download .modal-body {
    height: 200px;
    overflow: scroll;
}
/*
.nav-tabs {
    font-size: 80%;
}*/
.tab-pane {
    padding: .5em;
}

.panel {
    border: none;
    border-radius: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.panel-heading {
    padding: 4px;
}
.green {
    color: #5e5;
}
.red {
    color: #e55;
}

.input-group .form-control {
    width: 80%;
}

.trends {
    text-align: center;
    font-size: small;
}
.trends p {
    margin: 0;
}
.up {
    color: green;
}
.down {
    color: red;
}
.inactive {
    color: #aaa;
}

footer {
    margin-top: 2em;
}