/*.panel-body {
    height: 240px;
}*/
body {
	padding-top: 70px;
}
.navbar-toggle {
	display: block;
	float: left;
	margin-left: .5em;
}
.chart {
    height: 100%;
}

.panel-body table{
    font-size: 0.9em;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.modal-download .modal-body {
    height: 200px;
    overflow: scroll;
}
/*
.nav-tabs {
    font-size: 80%;
}*/
.tab-pane {
    padding: .5em;
}

.panel {
    border: none;
    border-radius: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.panel-heading {
    padding: 4px;
}
.green {
    color: #5e5;
}
.red {
    color: #e55;
}

.input-group .form-control {
    width: 80%;
}
.trends {
    text-align: center;
    overflow-y: scroll;
}
.row-h-1 .trends, .row-h-2 .trends, .row-h-3 .trends, .row-h-4 .trends {
    font-size: 80%;
    line-height: 1.1em;
}
.trends p {
    margin: 0;
}
.trends .values {
    border-bottom: thin solid gray;
    margin-bottom: 0.25em;
}

.row-h-1 .top-tab, .row-h-2 .top-tab, .row-h-3 .top-tab, .row-h-4 .top-tab {
    font-size: 65%;
}
.row-h-1 .top-panes, .row-h-2 .top-panes, .row-h-3 .top-panes, .row-h-4 .top-panes {
    font-size: 60%;
}

.up {
    color: green;
}
.down {
    color: red;
}

footer {
    margin-top: 2em;
}