<div ng-controller="OnionWidgetCtrl" class="text-center">
  <div class="row onion" ng-repeat="onion in onions">
    <div> {{onion.name}} <br/><strong>{{onion.total | number}}</strong></div>
    <div class="row">
      <div class="col-md-12 col-xs-4"><strong class="onion-category">{{onion.core | number}}</strong><br> core <br><small>(80% commits)</small></div>
      <div class="col-md-12 col-xs-4"><strong class="onion-category">{{onion.regular | number}}</strong><br> regular <br><small>(15% commits)</small></div>
      <div class="col-md-12 col-xs-4"><strong class="onion-category">{{onion.casual | number}}</strong><br> casual <br><small>(5% commits)</small></div>
    </div>
  </div>
</div>
