<div class="row">
  <div class="col-sm-9">
    <h1><a href="#/"><span ng-controller="ProjectNameCtrl">{{projectName.owner}} {{projectName.repository}}</span></a> |
      <small><a href="javascript(window.history();)">&laquo; back</a></small></h1>
  </div>
  <div class="col-sm-3 text-right" ng-controller="SharingCtrl">
    <span>Share: <button ng-click="shareOnTwitter()" class="btn btn-xs btn-primary"><i class="fa fa-twitter"></i> Twitter</button>
      <button ng-click="shareOnUrl()" class="btn btn-xs btn-success"><i class="fa fa-share"></i> Url</button><span>
  </div>
</div>

<div ng-controller="ContributorOverviewCtrl">
  <div class="row">
    <h2>Activity</h2>
    <h3>Activity on source code</h3>
    <vgwidget-timeseries widget-datasource="people-{{uid}}-scm-evolutionary" widget-metrics="commits"></vgwidget-timeseries>
    <h3>Activity on issues management</h3>
    <vgwidget-timeseries widget-datasource="people-{{uid}}-its-evolutionary" widget-metrics="closed"></vgwidget-timeseries>
    <h3>Activity on pull requests</h3>
    <vgwidget-timeseries widget-datasource="people-{{uid}}-scr-evolutionary" widget-metrics=""></vgwidget-timeseries>
  </div>
</div>
