<h1><a href="#/">Project name</a> / <small>Issues management activity</small></h1>

<div class="row">
  <div class="col-md-4">
    <h2>General Activity</h2>
    <div class="row">
      <div class="col-lg-12">
        <vgwidget-lines widget-datasource="its-evolutionary" widget-metrics="opened,closed"></vgwidget-lines>
        <vgwidget-trends widget-datasource="its-static" widget-metrics="opened,closed"></vgwidget-trends>
      </div>
      <div class="col-lg-12">
        <vgwidget-lines widget-datasource="its-evolutionary" widget-metrics="bmitickets"></vgwidget-lines>
        <vgwidget-trends widget-datasource="its-static" widget-metrics="bmitickets"></vgwidget-trends>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <h2>Community</h2>
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <vgwidget-lines widget-datasource="its-evolutionary" widget-metrics="openers,closers"></vgwidget-lines>
          <vgwidget-trends widget-datasource="its-static" widget-metrics="openers,closers"></vgwidget-trends>
        </div>
        <div class="row">
          Demography
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <vgwidget-tops widget-datasource="its-top" widget-metrics="openers,opened"></vgwidget-tops>
        </div>
        <div class="row">
          <vgwidget-tops widget-datasource="its-top" widget-metrics="closers,closed"></vgwidget-tops>
        </div>
      </div>
    </div>
  </div>
</div>
