<div class="row">
  <div class="col-md-4">
    <vgwidget-punchcard widget-datasource="eventizer-punchcard" widget-metrics="rsvp"></vgwidget-punchcard>
  </div>
  <div class="col-md-4">
    <vgwidget-lines widget-datasource="Austin%20Puppet%20User%20Group-eventizer-rep-evolutionary" widget-metrics="members"></vgwidget-lines>
    <vgwidget-trends widget-datasource="Austin%20Puppet%20User%20Group-eventizer-rep-static" widget-metrics="members"></vgwidget-trends>
  </div>
  <div class="col-md-4">
    <vgwidget-lines widget-datasource="Austin%20Puppet%20User%20Group-eventizer-rep-evolutionary" widget-metrics="events"></vgwidget-lines>
    <vgwidget-trends widget-datasource="Austin%20Puppet%20User%20Group-eventizer-rep-static" widget-metrics="events"></vgwidget-trends>
  </div>
</div>
