<h1><a href="#/">Project name</a> / <small>Pull requests activity</small></h1>

<div class="row">
  <div class="col-md-4">
    <h2>General Activity</h2>
    <div class="row">
      <div class="col-lg-12">
        <vgwidget-lines widget-datasource="scr-evolutionary" widget-metrics="submitted,merged,abandoned"></vgwidget-lines>
        <vgwidget-trends widget-datasource="scr-static" widget-metrics="submitted,merged,abandoned"></vgwidget-trends>
      </div>
      <div class="col-lg-12">
        <vgwidget-lines widget-datasource="scr-evolutionary" widget-metrics="pending"></vgwidget-lines>
        <vgwidget-trends widget-datasource="scr-static" widget-metrics="pending"></vgwidget-trends>
      </div>
      <div class="col-lg-12">
        <vgwidget-lines widget-datasource="scr-evolutionary" widget-metrics="timeto_merge_avg,timeto_merge_median"></vgwidget-lines>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <h2>Community</h2>
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <vgwidget-lines widget-datasource="scr-evolutionary" widget-metrics="submitters,mergers"></vgwidget-lines>
          <vgwidget-trends widget-datasource="scr-static" widget-metrics="submitters,mergers"></vgwidget-trends>
        </div>
        <div class="row">
          Demography
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <vgwidget-tops widget-datasource="scr-top" widget-metrics="submitters,submitted"></vgwidget-tops>
        </div>
        <div class="row">
          <vgwidget-tops widget-datasource="scr-top" widget-metrics="mergers,merged"></vgwidget-tops>
        </div>
      </div>
    </div>
  </div>
</div>
