<div class="row">
  <div class="col-sm-9">
    <h1><a href="#/"><span ng-controller="ProjectNameCtrl">{{projectName.owner}} {{projectName.repository}}</span></a> / <small>Pull requests activity</small></h1>
  </div>
  <div class="col-sm-3 text-right" ng-controller="SharingCtrl">
    <span>Share: <button ng-click="shareOnTwitter()" class="btn btn-xs btn-primary"><i class="fa fa-twitter"></i> Twitter</button>
      <button ng-click="shareOnUrl()" class="btn btn-xs btn-success"><i class="fa fa-share"></i> Url</button><span>
  </div>
</div>

<div class="row">
  <div class="col-lg-4 col-md-12">
    <h2>General Activity</h2>
    <div class="row">
      <div class="col-md-6 col-lg-12">
        <h3>Pull requests activity</h3>
        <vgwidget-lines widget-datasource="scr-evolutionary" widget-metrics="submitted,merged,abandoned"></vgwidget-lines>
        <vgwidget-trends widget-datasource="scr-static" widget-metrics="submitted,merged,abandoned"></vgwidget-trends>
      </div>
      <div class="col-md-6 col-lg-12">
        <h3>Pending pull requests evolution</h3>
        <vgwidget-lines widget-datasource="scr-evolutionary" widget-metrics="pending"></vgwidget-lines>
        <vgwidget-trends widget-datasource="scr-static" widget-metrics="pending"></vgwidget-trends>
      </div>
      <div class="col-md-12">
        <h3>Time to merge</h3>
        <vgwidget-lines widget-datasource="scr-evolutionary" widget-metrics="timeto_merge_avg,timeto_merge_median"></vgwidget-lines>
      </div>
    </div>
  </div>
  <div class="col-lg-8 col-md-12">
    <h2>Community</h2>
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <h3>Submitters &amp; mergers evolution</h3>
          <vgwidget-lines widget-datasource="scr-evolutionary" widget-metrics="submitters,mergers"></vgwidget-lines>
          <vgwidget-trends widget-datasource="scr-static" widget-metrics="submitters,mergers"></vgwidget-trends>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <h3>Top submitters</h3>
          <vgwidget-tops widget-datasource="scr-top" widget-metrics="submitters,submitted"></vgwidget-tops>
        </div>
        <div class="row">
          <h3>Top mergers</h3>
          <vgwidget-tops widget-datasource="scr-top" widget-metrics="mergers,merged"></vgwidget-tops>
        </div>
      </div>
    </div>
  </div>
</div>
